<% content_for :title, "Welcome Home" %>
<div class="well">
  <div class="page-header">
    <h1>Welcome to CookingWithKing!</h1>
  </div>

  <p>Home of the finest cooking videos on the internet :) may be derpage, may be burning of food...</p>
</div>
