<% content_for :title, "Welcome Home" %>
<div class="well">
  <div class="page-header">
    <h1>Welcome to CookingWithKing!</h1>
  </div>

  <p>
    Cooking with King is my quest to learn how to cook better food at home instead of eating out. I intend to cover all kinds of foods including breakfast, lunch, dinner and the most
    important meal: dessert. </p>

  <p>If you have a suggestion for a meal to make, check out the suggestions page for information on how to submit a suggestion.</p>
</div>
