<% content_for :title, "Suggestions" %>
<div class="well">
  <div class="page-header">
    <h1>Suggestions</h1>
  </div>
  <p>Got an idea of something you'd like to see King make on the show? Fill out the Google Form below!</p>

  <iframe src="https://docs.google.com/forms/d/1MqihgFQnsEXuMSwhuwWRiDSwk9ZtbKc4LZ4utjbQT8M/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
