<% content_for :title, "Test Video Episode" %>
<div class="well">
  <div class="page-header">
    <h1>Testing of Video Editor/Player</h1>
  </div>
  <p>The following video is a test of a video player... avoiding YT if I can! :D</p>


	<div class="row">
		<div class="col-md-7">
      <iframe src="//fast.wistia.net/embed/iframe/ua8hsru9rv" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>


		</div>
		<div class="col-md-5">
		<!--
		<img src="http://placehold.it/853x480">
		-->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h5>More Episodes</h5>
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
			   			<li><a href="#">Episode 0 - Series Introduction & How awesome I am</a></li>
			  			<li class="active"><a href="#">Episode 1 - Memory Lane</a></li>
			   			<li><a href="#">Episode 2 - Gold Farm Project</a></li>
			  			<li><a href="#">Episode 3 - Smoking the gun</a></li>
			  			<li><a href="#">Episode 4 - I'm #4 in the list</a></li>
			  			<li><a href="#">Episode 5 - I'm the last guy to show up here</a></li>
					</ul>
				</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
					  <div class="panel-body">
					  King is an awesome dude who just wants to make videos for ever and ever and ever and this is his site that he made and put a ton of work in. Does this make his content look fat? Just kidding we all know it's fat as heck. Ok you can go now. I just wanted to test out a 'Content Creators about section'
					  </div>
  					  <div class="panel-body">
  					  	<div class="pull-left">
							<img src="https://pbs.twimg.com/profile_images/2327720753/pncsl3exa97o8ako1y8u_bigger.png" class="img-rounded"/>
						</div>
						<strong>Kaptoye</strong>
						<small>1230 Videos</small>


							<div class="pull-right">
								<p class="bg-info">1 view</p>
							</div>

					  </div>

			</div>

		</div>  <!-- End 12 col. section -->
	</div> <!-- End Row -->



</div>
