<% content_for :title, "Test Video Episode" %>
<div class="well">
  <div class="page-header">
    <h1>Testing of Video Editor/Player</h1>
  </div>
  <p>The following video is a test of a video player... avoiding YT if I can! :D</p>

  <iframe src="//fast.wistia.net/embed/iframe/ua8hsru9rv" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>

</div>
